		/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
		html,body,div,span,applet,object,iframe,
		h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
		acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,
		samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,
		dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,
		tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,
		figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,
		section,summary,time,mark,audio,video {
			border:0;
			font-size:100%;
			font:inherit;
			vertical-align:baseline;
			margin:0;
			padding:0}
		article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
		{display:block}
		body
		{line-height:1}
		ol,ul
		{list-style:none}
		blockquote,q
		{quotes:none}
		blockquote:before,blockquote:after,q:before,q:after
		{content:none}
		table
		{border-collapse:collapse;border-spacing:0}
		/* End CSS Reset */

		*, *:after, *:before {
    		-webkit-box-sizing: border-box;
       		-moz-box-sizing: border-box;
            box-sizing: border-box;
		}

		body {
			background-color: #fff;
			color: #2C2C2C;
			font: normal 100% 'Open Sans', Georgia, Arial;
		}

		img,
		embed, 
		object, 
		video {
			width: 100%;   
			height: auto; 
			display: block;
		}

		#page {
			width: 100%;
		}

		.top {
			background-color: silver;
			position: relative;
			overflow: hidden;
  			width: 100%;
  			padding: 0;
		}

  		.logo {
  			margin: 4.5rem auto;
  			display: block;
  			position: relative;
  			max-width: 55%;
  		}

  		.logo-minimize {
  			margin: 0.5rem 0.5rem;
  			display: block;
  			position: relative;
  			max-width: 15%;
  		}

		.info-toggle {
			padding: 1rem 0.5rem;
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			width: 15%;
		}

		#overlay {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: gainsboro;
		}

		#overlay-close {
			width: 2rem;
			height: 2rem;
			margin: 1rem 0.5rem;
			background-color: white;
			position: absolute;
			right: 0;
			top: 0;
		}

		.info {
			padding: 1rem;
			width: 100%;
			margin-top: 3rem;
		}
		

		button {
			margin: 2rem auto;
			display: block;
			background: white;
			font-family: 'Open Sans', Arial, Sans Serif;
			font-size: 1rem;
			padding: 1rem;
			border-width: 0.2rem;
			border-color: black;
		}

		button:hover{
			background-color: black;
			color: white;
		}

		.wrapper {
			margin: 0 auto;
			max-width: 45rem;
			padding: 0 1.5rem;
			background-color: gainsboro;
			overflow: hidden;
		}

		#sandwich {
			margin: 2rem auto;
		}

		#sandwich:empty {
			margin: 0;
		}

		.ingredient {
			padding: 0.25rem;
			text-align: center;
		}

		.bread {
			margin: 0 auto;
			padding: 1rem;
			display: block;
			background-color: peru;
		}

		.bread[data-key="corn bread"]{
			background-color: gold;
		}
		.bread[data-key="ciabatta bread"]{
			background-color: navajowhite;
		}
		.bread[data-key="rice milk rolls"]{
			background-color: cornsilk;
		}

		.sauce {
			margin: 0 auto;
			display: block;
			background-color: lime;
			
		}

		.sauce[data-key="hummus"]{
			background-color: tan;
			color: white;
		}
		.sauce[data-key="honey"]{
			background-color: darkgoldenrod;
			color: white;
		}
		.sauce[data-key="mustard"]{
			background-color: sienna;
			color: white;
		}

		.main {
			margin: 0 auto;
			display: block;
			background-color: tomato;
			
		}

		.main[data-key="salmon"]{
			background-color: tomato;
			color: white;
		}
		.main[data-key="pumpkin chips"]{
			background-color: darkorange;
			color: white;
		}
		.main[data-key="camembert"]{
			background-color: antiquewhite;
		}

		#recipe {
			padding-top: 1rem;
		}

		h1 {
			font-weight: bold;
		}

		p {
			margin-bottom: 2rem;
			line-height: 1.5rem;
			font-size: 0.95rem;
		}

